/**
::part(output)
Style the display of the output value.
**/

/* Value display */

[part="output"] {
    font-family: 'Andale Mono', Monaco, Lucida, monospace;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: -0.0333em;
    color: #46789a;
    height: auto;
    white-space: pre;
}

[part="output"] > abbr {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 0.1em;
    vertical-align: baseline;
}
