
/**
::part(tick)
Style the tick marks.
**/

[part="tick"] {
    cursor: pointer;
    display: block;

    font-size: 0.5625rem;
    line-height: 0.9375rem;
    letter-spacing: -0.0125em;
    text-align: center;

    padding: 0;
    /* Make ::after mark visible outside label*/
    overflow: visible;

    border-width: 0;
    color: currentcolor;
    background: transparent;

    /* Interior tick value text appears outside the tick */
    overflow: visible;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version */
}

[part="tick"]::after {
    content: '';
    display: block;
    width: 0.125rem;
    height: 0.125rem;
    margin-left: auto;
    margin-right: auto;
    background: currentcolor;
    border-radius: 0.0625rem;
}

[part="tick"]:focus {
    outline: none;
}
