
/**
::part(tick)
Style the tick marks.
**/

[part$="tick"] {
    cursor: pointer;
    display: block;
    height: auto;
    margin: 0;
    padding: 0;

    font-family: 'Fira Mono', monospace;
    font-size: 0.625em;
    line-height: 0.9375rem;
    letter-spacing: -0.04em;
    text-align: center;
    white-space: nowrap;

    /* Make ::before mark visible outside label*/
    overflow: visible;
    border-width: 0;
    color: #666666;
    background: transparent;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version */
}

[part$="tick"]::before {
    content: '';
    display: block;
    width: 0.1875rem;
    height: 0.1875rem;
    margin-left: auto;
    margin-right: auto;
    background: currentcolor;
    border-radius: 50%;
}

[part$="tick"]:focus-visible {
    outline: none;
}

[part$="tick"] > span,
[part$="tick"] > span {
    font-size: inherit;
}
