
@import '../css/host.css';


/* :host */

/**
--button-width: 1.5rem;
Width of decrement/increment buttons.
**/

:host {
    --button-width: 1.875em;

    display: inline-block;
    position: relative;
}

:host > * {
    margin: 0;
}

:host > [part="previous-button"],
:host > [part="next-button"] {
    position: absolute;
    top: 0;
    bottom: 0;
    width: var(--button-width);
    min-width: var(--button-width);
    text-align: center;
}

:host > [part="previous-button"] {
    left: 0;
    border-right: 1px solid black;
}

:host > [part="next-button"] {
    right: 0;
    border-left: 1px solid black;
}


/*
select
*/

::slotted(select),
::slotted(select) {
    display: block;
    box-sizing: border-box;

    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;

    font-family: inherit;
    font-size:   inherit;
    font-weight: inherit;
    line-height: inherit;

    width: 100%;
    min-width: calc(2 * var(--button-width));
    padding-left:  calc(var(--button-width) + var(--padding-left)) !important;
    padding-right: calc(var(--button-width) + var(--padding-left)) !important;
}


/**
::part(previous-button)
**/

/**
::part(next-button)
**/

[part="previous-button"],
[part="next-button"] {
    display: block;
    box-sizing: border-box;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    padding: 0;
    border-width: 0;
    text-align: center;
    background: transparent;
}
