@import '../../bolt/elements/html.css';

:host {
    --border-width:  1px;
    --padding-left:  0.3125rem;
    --padding-right: 2.4375rem;

    position: relative;
    display: inline-block;
    line-height: 1.5rem;
    border: var(--border-width) solid black;
    border-radius: 0.1875rem;
    background-color: white;
}

:host > select {
    line-height: inherit;
    margin: calc(-1 * var(--border-width));
    max-width: none;
    color: inherit;
}

:host > svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    left: auto;
    width: auto;
    pointer-events: none;
    fill: currentcolor;
}

:host > svg * {
    pointer-events: none;
}

select {
    display: block;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

    padding-left: var(--padding-left, 0.3125rem);
    padding-right: var(--padding-right, 2.4375rem);
    background: none;
    border-width: 0;
    border-radius: 0;
}
