:host {
    /**
    --line-color
    Colour of axis lines drawn on the graph background.
    **/

    /**
    --line-color-x
    Colour of vertical x-axis lines drawn on the graph background.
    **/

    /**
    --line-color-y
    Colour of horizontal y-axis lines drawn on the graph background.
    **/

    --line-color: #cccccc;
    --line-color-x: var(--line-color);
    --line-color-y: var(--line-color);

    --track-radius: 0.1875rem;
    /*--track-shadow:
        inset 0 0 3.125rem hsla(192, 94%, 6%, 0.16875),
        0 1px 1px hsla(192, 18%, 64%, 0.15),
        0 -1px 1px hsla(192, 60%, 8%, 0.4);*/

    --handle-stroke-width: 1px;

    display: inline-grid;
    grid-template-rows: 2em 1fr 2em;
    grid-template-columns: 2em auto 2em;
    row-gap: 0;
    column-gap: 0.375em;

    width: 5.25rem;
    height: 7.5rem;
    min-height: 7.5rem;
    /* Accomodate tick labels */
    margin-bottom: 1.25rem;
}

:host > [part="track"] {
    /* Track width is controlled by it's padding */
    width: 0.5em;
    height: 100%;
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
    align-self: stretch;
}

:host > [part$="tick"] {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
    align-self: end;
    margin-bottom: 0.25rem;
}

:host > [part="label"] {
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: center;
}

:host > [part="output"] {
    grid-column: 1 / span 3;
    grid-row: 3;
    justify-self: stretch;
    align-self: end;
}
