
@import '../../css/host.css';

:host {
    --track-border: none;
    --track-radius: 0.25em;
    --track-shadow:
        inset 0 0.0625rem 0.25rem rgba(0,0,0,0.2),
        inset 0 0 0 1px rgba(0,0,0,0.125);

    --handle-stroke-width: 1px;

    display: inline-grid;

    grid-template-areas:
        'label  label  label'
        'ticks  input  .'
        'output output output';
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr min-content 1fr;
    row-gap: 0.375em;
    column-gap: 0.375em;

    height: 10em;
    min-height: 1em;
}

:host > [part="track"] {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
    align-self: stretch;
    height: 100%;
}

:host > [part$="tick"] {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
    align-self: end;
    transform: translate3d(
        0,
        calc((var(--normal-y) * var(--range-height) + var(--range-y)) * 1em + 50%),
        0
    );
}

:host > [part="label"] {
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: center;
}

:host > [part="output"],
:host > [type="number"] {
    grid-column: 1 / span 3;
    grid-row: 3;
    justify-self: center;
    align-self: center;
}

:host > [part="output"] {
    z-index: 1;
}

:host > [type="number"] {
    z-index: 2;
}
