:host {
    --track-radius: 0.1875rem;
    /*--track-shadow:
        inset 0 0 3.125rem hsla(192, 94%, 6%, 0.16875),
        0 1px 1px hsla(192, 18%, 64%, 0.15),
        0 -1px 1px hsla(192, 60%, 8%, 0.4);*/

    --handle-stroke-width: 1px;

    display: inline-grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr min-content 1fr;
    row-gap: 0.375em;
    column-gap: 0.375em;

    width: 5.25rem;
    height: 7.5rem;
    min-height: 7.5rem;
    /* Accomodate tick labels */
    margin-bottom: 1.25rem;
}

:host > [part="track"] {
    /* Track width is controlled by it's padding */
    width: 0.5em;
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
    align-self: stretch;
    margin-top: -0.3125em;
    margin-bottom: -0.3125em;
}

:host > [part$="tick"] {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
    align-self: end;
}

:host > [part="label"] {
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: center;
}

:host > [part="output"],
:host > [type="number"] {
    grid-column: 1 / span 3;
    grid-row: 3;
    justify-self: center;
    align-self: center;
}

:host > [part="output"] {
    z-index: 1;
}

:host > [type="number"] {
    z-index: 2;
}
