
[type="number"] {
    font-size: inherit;
    text-align: center;
    width: 4em;
    clip-path: circle(1%);
}

[type="number"]:focus {
    display: block;
    clip-path: none;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
