
@import '../../css/tick.css';

[part$="tick"] {
    font-size: inherit !important;
    /* Try to avoid overlapping tick labels on the x axis */
    line-height: 1em;

    grid-column: 1;
    grid-row: 1;
    align-self: end;
    justify-self: start;
}

[part$="tick"]::before {
    /* Remove the tick dot */
    content: none;
}

[part$="tick"] > span {
    font-size: 0.625em;
}

[part$="y-tick"] {
    text-align: right;
    min-width: 2em;
}
