
[part="track"] {
    width: 0.625em;
    padding-top:    calc(var(--track-padding) - 1px);
    padding-bottom: calc(var(--track-padding) - 1px);
    background: #f8f8f8;
    border: 1px solid #cccccc;
    border-radius:  var(--track-radius);
    box-shadow:     var(--track-shadow);
}

[part="track"] > svg {
    display: block;
    width: 1em;
    margin-left: calc(50% - 0.5em);
    max-width: none;
    min-height: 1em;
    max-height: none;
    overflow: visible;
    position: relative;
    z-index: 2;
    transform: translate3d(0,0,0);
}
