

number-input:focus {
    /* This disnae work but why? */
    outline: 5px solid -webkit-focus-ring-color;
}

number-input:not(:defined) > [slot] {
    /* Hide all named slotted content until element is defined */
    display: none !important;
}

number-input:defined > [type="number"]::-webkit-inner-spin-button,
number-input:defined > [type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
