
:host {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 0;
}

:host > * {
    margin: 0;
    grid-row: 1;
}

:host > [type="number"] {
    grid-column: 2;
}

[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

