/* knob */

.handle {
    cursor: pointer;
    cursor: ns-resize;
    width: var(--handle-width);
    height: 0;
    padding-top: calc(var(--handle-width) - 2px);
    background: transparent;/*var(--handle-background);*/
    border: 0;
    border-radius: 50%;
    transform: rotate3d(0, 0, 1, calc(var(--rotation-start) + var(--unit-value) * var(--rotation-range)));

    /* Disable scroll */
    touch-action: none;
    -webkit-touch-action:  none;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version */
}

.handle::after {
    content: '';
    position: absolute;
    width: var(--handle-dot-width);
    height: var(--handle-dot-height);
    left: 50%;
    top: calc(50% + var(--handle-dot-distance));
    transform: translate3d(-50%, 0, 0);
    border-radius: 50%;
    background-color: var(--handle-dot-background);
    border: var(--handle-dot-border);
    box-shadow: var(--handle-dot-shadow);
}
