/* Handle static element */

:host::after {
    content: '';
    grid-area: handle;
    width: var(--handle-size);
    height: 0;
    padding-top: var(--handle-size);
    box-shadow: var(--handle-shadow);
    background: var(--handle-background);
    border: var(--handle-border);
    border-radius: 50%;
    z-index: 0;
}

/* Handle rotating element */

.handle {
    cursor: pointer;
    cursor: ns-resize;
    width: var(--handle-size);
    height: 0;
    padding-top: var(--handle-size);
    background: transparent;
    border: 0;
    border-radius: 50%;
    transform: rotate3d(0, 0, 1, calc(var(--rotation-start) + var(--normal-value) * var(--rotation-range)));

    /* Disable scroll */
    touch-action: none;
    -webkit-touch-action:  none;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version */
}

.handle::after {
    content: '';
    position: absolute;
    width: var(--dot-size);
    height: var(--dot-size);
    left: 50%;
    top: calc(50% + var(--dot-distance));
    transform: translate3d(-50%, 0, 0);
    border-radius: 50%;
    background-color: var(--dot-background);
    border: var(--dot-border);
    box-shadow: var(--dot-shadow);
}
