
/*
.handle has two elements. There's a static element and a rotating element. It is
best to apply style to the static element where it is not needed to move, as the
moving element can have small artifacts as it rotates.
*/

.handle {
    width: var(--handle-size);
    min-width: 1em;
    aspect-ratio: 1;
    border: var(--handle-border, 1px solid currentcolor);
    cursor: pointer;
    cursor: ns-resize;
}

.static-handle {
    box-shadow: var(--handle-shadow);
    background: var(--handle-background);
    border-radius: 50%;
    z-index: 0;
}

.rotate-handle {
    background: transparent;
    border-color: transparent;
    border-radius: 50%;
    transform: rotate3d(0, 0, 1, calc(var(--rotation-start) + var(--normal-value) * var(--rotation-range)));

    /* Disable scroll */
    touch-action: none;
    -webkit-touch-action:  none;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version */
}


/* Dot */

.rotate-handle::after {
    content: '';
    position: absolute;
    width: var(--dot-size);
    height: var(--dot-size);
    aspect-ratio: 1;
    left: 50%;
    top: 0.09375rem;
    transform: translate3d(-50%, 0, 0);
    border-radius: 50%;
    background-color: var(--dot-background);
    border: var(--dot-border);
    box-shadow: var(--dot-shadow);
}
