
/* output */

[part="output"] {
    width: var(--handle-size);
    height: 1lh;
    margin-left: var(--track-size);
    margin-right: var(--track-size);
    text-align: center;
}

:host(:focus) > [part="output"] {
    color: white;
}
